/*----- Pantalla Pequeña -----*/
/*----- Grilla General -----*/
.wrapper{
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
	"header"
	"nav"
	"map"
	"idk"
	"footer";
	font-family: 'Roboto', sans-serif;
}
.map{
	grid-area: map;
}
.map iframe{
	width: 100%;
	height: 70vh;
	min-height: 300px;
	min-width: 420px;
}
@media (min-width:  800px){
	/*----- Pantalla Grande -----*/
	/*----- Grilla -----*/
	.wrapper{
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas: 
		". logo-efpem header header logo-usac ."
		". nav nav nav nav ."
		". map map map map ."
		". idk idk idk idk ."
		". footer footer footer footer .";
	}
	
	
}